/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.columns-parent{
	padding: 30px;
	margin: 0;
	border-radius: none;
}

.columns-container .columns-inner-block{
	display: flex;
	flex: 1;
	padding: 10px;
	flex-wrap: wrap;
}

.columns-container .columns-inner-block .wp-block[data-type="selleads/column"]{
	flex: 1;
	display: flex;
	margin: 0;
}

.columns-item{
	width: 100%;
	padding: 5px;
	border-radius: none;
}

.columns-item-container{
	padding: 15px;
}

.columns-item-container header{
	padding: 0;
	margin-top: 0;
	margin-bottom: 25px;
}

.columns-item-container header h1,
.columns-item-container header h2,
.columns-item-container header h3,
.columns-item-container header h4,
.columns-item-container header h5,
.columns-item-container header h6{
	margin-top: 5px !important;
	margin-bottom: 8px !important;
	font-weight: 400 !important;
}

.columns-item-heading.is-uppercase{
	text-transform: uppercase;
}
.columns-item-heading.is-sub_title{
	font-weight: 700 !important;
	color: #555;
}

.columns-item-container figure{
	display: flex;
}